.cropped-circle {
    object-fit: cover;
    clip-path: circle(30% at center);
  }
  
.iam{
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer{
    height: 20rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 768px){
    .midfield{
        width: 75%;
    }
}


@media (min-width: 1024px){
    .midfield{
        width: 50%;
    }
}

.top{
    background-color: #202020;
background-image:url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMjM2JyBoZWlnaHQ9JzM3Ny42JyB2aWV3Qm94PScwIDAgMTAgMTYnPgogICAgPGcgaWQ9J2MnPgogICAgICA8cGF0aCBmaWxsPScjMTYxNjE2JyBkPSdNMCAwbDUgM3Y1bC01IC0zeicvPgogIAkJPHBhdGggZmlsbD0nIzFjMWMxYycgZD0nTTEwIDBsLTUgM3Y1bDUgLTMnLz4KICAJPC9nPgogIAk8dXNlIHg9JzUnIHk9JzgnIHhsaW5rOmhyZWY9JyNjJyAvPgogIAk8dXNlIHg9Jy01JyB5PSc4JyB4bGluazpocmVmPScjYycgLz4KICA8L3N2Zz4KICA=);
}

